.chat-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border: 2px solid darkblue;
    background-color: #5b8cef;
}

.heading {
    margin: 0;
    width: 40vw;
    background-color: darkblue;
    border: 2px solid darkblue;
    color: white;
}

.chat-body {
    height: 60vh;
    width: 40vw;
    overflow: auto;
    border: 2px solid darkblue;
    background-color: white;

}

.you {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px;

}

.other {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}

.you .message {
    padding: 5px 10px;
    background-color: rgb(62, 196, 240);
    max-width: 50%;
}

.other .message {
    padding: 5px 10px;
    background-color: lightgreen;
    max-width: 50%;
}

.author p,
.message p,
.time p {
    margin: 0;
}

.chat-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40vw;
    border: 2px solid darkblue;
}

.input-message {
    width: 90%;
    padding: 10px;
}

button {
    background-color: darkblue;
    border: 1px solid darkblue;
}

span {
    color: white;
}